<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!--   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
-->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header">
<div class="jumbotron">
		<div class="container text-center">
			<h1>Esta es tu compañia de seguros</h1>
		</div>
	</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href=@{/empresa/}>Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href=@{/empresa/que}>Que hacemos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href=@{/empresa/contacto}>Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href=@{/empresa/liststudents}>Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href=@{/courses/listCourses}>Medico</a>
      </li>
      
   </ul>
  </div>
</nav>
</header>
<div class="jumbotron">
  <h1 class="display-4" th:text="${quienes}"></h1>
  <p class="lead" th:text="${texto1}"></p>
  <hr class="my-4">
  <p th:text="${texto2}"></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>
  </p>
</div>
</body>
</html>