<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<title>Lista_CRUD</title>
</head>
<body>
<div class="panel panel-info">
<div class="panel-heading"><h4>Lista Pacientes</h4></div>
<table class="table table-striped">
<thead>
<tr>
<th>id</th>
<th>apellido</th>
<th>direccion</th>
<th>edad</th>
<th>especialidad</th>
<th>fecha_alta</th>
<th>nombre</th>
<th>password</th>
<th>username</th>
</tr>
</thead>
<tbody>
<tr th:each="patient : ${patients}">
<td th:text="${patient.id}"></td>
<td th:text="${patient.apellido}"></td>
<td th:text="${patient.direccion}"></td>
<td th:text="${patient.edad}"></td>
<td th:text="${patient.especialidad}"></td>
<td th:text="${patient.fecha_alta}"></td>
<td th:text="${patient.nombre}"></td>
<td th:text="${patient.password}"></td>
<td th:text="${patient.username}"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>